# Dependency directories
/node_modules
/dist

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment specific files
src/environments/environment.prod.ts
.env

# Testing
/coverage
/e2e/dist

# System Files
.DS_Store
Thumbs.db

# Misc
.angular/
.cache/
.sass-cache/
connect.lock
coverage/
lib-cov/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
