/* CustomerListComponent Styles */
:host {
    display: block;
}

.shadow-3xl {
    box-shadow: 0 35px 60px -15px rgba(6, 25, 45, 0.1);
}

.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #f8fafc;
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #e2e8f0;
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #cbd5e1;
}

tr {
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

tr:hover td {
    background: rgba(247, 147, 30, 0.01);
}